<div class="bg-img-01 py-100px py-md-200px mb-80px cont">
    
    <h1>ABOUT FRAUD CHECK</h1>

</div>

<div class="text">
    <h2>WHAT IS FRAUD CHECK ABOUT</h2>

    <p>Fraud Check is a web based platform that keeps records of fraudulent activities
         in Nigeria and fraudsters of previous scams 
        being reported by the populace and also provides a user 
        friendly AI (Artificial Intelligence) platform to help people understand how to go about online and offline 
    transactions to keep them away from fraud.</p>
    <p> The Objective of fraudcheck is to reduce the cases of fraudulent cativities in Nigeria, educate people on the rudiments of transacting
        online and offline to avoid fraudsters and to help the security agencies have a better track record 
        in vindicating fraudsters.
    </p>

    <p>In this evolving digital age, internet scam is inevitable, we are here to educate people on how to avoid scam so that the 
        fraudulent rate in Nigeria can reduce.
    </p>
</div>