




<div class="bg-img-02 py-100px py-md-200px mb-80px cont">
    
    <h1>CONTACT US</h1>

</div>



<div class="bg-dan">
  <div class="container text-center">
      <h2>
          Have Any Issue?
      </h2>
      <P> If you like my work and you have some cool Projects to work on,<br> 
          just send me direct message or contact me through social sites listed below.
      </P>

      <a href="mailto:chrisfemide@gmail.com" >
      <button>
           <i class="fas fa-paper-plane plane"></i> GET IN TOUCH  
          
          </button>
      </a>
  </div>
</div>